
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Quicksand&display=swap');
body{
    display: flex;
    justify-content: center;
    background-color: #f2efc7;
}

.paragraph{
    color: grey;
    background-color: white;
    text-align: justify;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    width:50%;
    margin: 7% 0%;
    padding:40px;
    box-sizing: border-box;
}

img{
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: auto;

}

@media only screen and (max-width: 600px){
    .paragraph{
        width: 70%;
        padding: 20px;
        margin:3%;
    }
}

@media only screen and (max-width: 600px){
    h2{
        font-size:15px;
    }
}



h2{
    text-align: center;
    font-size: 3vw;
    font-family: 'Quicksand', sans-serif;
}

p{
    font-size: 1.7vw;
    font-family: 'Quicksand', sans-serif;
}

.align-left.slide-in{
    transform:translateX(-30%) scale(0.95);
}

.align-right.slide-in{
    transform: translateX(30%) scale(0.95);
}

.align-right{
    float: right;
    margin-left: 10px;
}

.align-left{
    float: left;
    margin-right: 10px;
}

.slide-in{
    opacity:0;
    transition: all .5s;
}

.slide-in.active{
    opacity: 1;
    transform:translateX(0%) scale(1);
}

*, *:before, *:after {
    box-sizing: inherit;
  }